.about {
    padding: 120px 100px;
}

#image1 {
    max-width: 60px;
    z-index: -2;
    rotate: 15deg;
}

.about-content {
    display: flex;
    flex-direction: row;
    gap: 150px;
    z-index: -1;
    margin-top: 50px;
}

.about-right {
    align-items: center;
}

.about-right h1 {
    color: #4267B2;
    font-size: 70px;
}

.about-right p {
    color: black;
    font-size: 22px;
    width: 90%;
}

.about-left {
    display: inline-block;
    padding: 0; /* Adjust the padding to set the border thickness */
    border-radius: 10px; /* Optional: to add rounded corners */
    z-index: 1   ;
}

.about-left img {
    max-width: 350px;
    display: block;
    transition: 0.6s;
    border: 5px solid;
    border-image: linear-gradient(to right, #5fe7ff, #8f7bfe) 1;
}

.about-left img:hover {
    border: 5px solid;
    border-image: linear-gradient(to right, #8f7bfe, #5fe7ff) 1;
}

.about-right-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.middle {
    position: relative;
}

.middle img {
    position: absolute;
    max-width: 160px;
    rotate: 25deg;
    right: 10px;
    top: -10px;
    transition: 0.5s;
    mix-blend-mode: multiply;
}

.middle img:hover {
    transform: scale(1.05);
}

.growth {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.growth-upper {
    text-align: center;
}

.topic {
    background: linear-gradient(#B415FF, #DF8908 );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

.growth-upper h1 {
    color: #4267B2;
    font-size: 70px;
}

.growth-upper p {
    color: black;
    font-size: 20px;
}

.growth-lower {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 40px;
    margin-top: 50px;
}

.growth-content img {
    max-width: 80px;
    margin-bottom: 20px;
    mix-blend-mode: multiply;
}

.growth-lower h1 {
    font-size: 50px;
    font-weight: 800;
    transition: 0.1s;
    background: linear-gradient(270deg, #7360dd 50%, #41acbf 100%);
    -webkit-background-clip: text;
    background-clip: text; 
    -webkit-text-fill-color: transparent; 
    margin-bottom: 10px;
}

.growth-lower p {
    color: #4267B2;
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 700;
}

.growth-content {
    align-items: center;
    text-align: center;
    background-color: #a76e6e42;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    transition: 0.5s;
}

.growth-content:hover {
    transform: scale(1.05);
    background: linear-gradient(256deg, #a76e6e42 100%, #41acbf 20%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 0 30px rgba(67, 242, 255, 0.6);
}

@media (max-width: 1200px) {
    .about {
        padding: 100px 80px;
    }
    .about-content {
        gap: 100px;
    }
    .about-left img {
        max-width: 320px;
    }
    .about-right h1 {
        font-size: 60px;
    }
    .about-right p {
        font-size: 20px;
    }
    .middle img {
        max-width: 110px;
    }
    .growth {
        margin-top: 100px;
    }
    .growth-upper h1 {
        font-size: 60px;
    }
    .growth-upper p {
        font-size: 18px;
    }
}

@media (max-width: 1021px) {
    .about-right p {
        font-size: 18px;
    }
    .about-left img {
        max-width: 310px;
    }
    .growth-lower img {
        max-width: 70px;
    }
    .growth-lower h1 {
        font-size: 40px;
    }
    .growth-lower p {
        font-size: 20px;
    }
    .growth-content {
        padding: 15px 10px;
    }
}

@media (max-width: 955px) {
    .topic {
        font-size: 15px;
    }
    .about-left img {
        max-width: 300px;
    }
    .about-content {
        gap: 70px;
    }
    .about-right h1 {
        font-size: 50px;
    }
    .about-right p {
        font-size: 17px;
    }
    .middle img {
        max-width: 100px;
    }
    .growth-upper h1 {
        font-size: 50px;
    }
    .growth-upper p {
        font-size: 17px;
    }
    .growth-content {
        padding: 12px 8px;
    }
    .growth-lower img {
        max-width: 60px;
    }
    .growth-content h1 {
        font-size: 30px;
    }
}

@media (max-width: 907px) {
    .about-right p {
        font-size: 16px;
        width: 95%;
    }
    .middle img {
        max-width: 85px;
    }
    .about-content {
        gap: 60px;
    }
    .about {
        padding: 85px 65px;
    }
    .about-left img {
        max-width: 260px;
    }
    .growth {
        margin-top: 70px;
    }
}

@media (max-width: 819px) {
    .about-content {
        gap: 50px;
    }
}

@media (max-width: 780px) {
    .about-right h1 {
        font-size: 40px;
    }
    .about-right p {
        font-size: 15px;
        width: 100%;
    }
    .about-left img {
        max-width: 245px;
    }
    .middle img {
        max-width: 70px;
    }
    .growth-lower {
        gap: 20px;
    }
    .growth-upper h1 {
        font-size: 40px;
    }
    .growth-upper p {
        font-size: 15px;
    }
    .growth-lower img {
        max-width: 50px;
        margin-bottom: 10px;
    }
    .growth-lower h1 {
        margin-bottom: 10px;
    }
    .growth-lower p {
        font-size: 18px;
        margin-bottom: 10px;
    }
}