.about {
    padding: 120px 100px;
}

#image1 {
    max-width: 60px;
    z-index: -2;
    rotate: 15deg;
}

.about-content {
    display: flex;
    flex-direction: row;
    gap: 150px;
    z-index: -1;
    margin-top: 50px;
}

.about-right {
    align-items: center;
}

.about-right h1 {
    color: #4267B2;
    font-size: 70px;
}

.about-right p {
    color: black;
    font-size: 22px;
    width: 90%;
}

.about-left {
    display: inline-block;
    padding: 0; /* Adjust the padding to set the border thickness */
    border-radius: 10px; /* Optional: to add rounded corners */
    z-index: 1   ;
}

.about-left img {
    max-width: 350px;
    display: block;
    transition: 0.6s;
    border: 5px solid;
    border-image: linear-gradient(to right, #5fe7ff, #8f7bfe) 1;
}

.about-left img:hover {
    border: 5px solid;
    border-image: linear-gradient(to right, #8f7bfe, #5fe7ff) 1;
}

.about-right-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.growth {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.growth-upper {
    text-align: center;
}

.topic {
    background: linear-gradient(#B415FF, #DF8908 );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

.growth-upper h1 {
    color: #4267B2;
    font-size: 70px;
}

.growth-upper p {
    color: black;
    font-size: 20px;
}

.growth-lower {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 40px;
    margin-top: 50px;
}

.growth-content img {
    max-width: 80px;
    margin-bottom: 20px;
    mix-blend-mode: multiply;
}

.growth-lower h1 {
    font-size: 50px;
    font-weight: 800;
    transition: 0.1s;
    background: linear-gradient(270deg, #7360dd 50%, #41acbf 100%);
    -webkit-background-clip: text;
    background-clip: text; 
    -webkit-text-fill-color: transparent; 
    margin-bottom: 10px;
}

.growth-lower p {
    color: #4267B2;
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 700;
}

.growth-content {
    align-items: center;
    text-align: center;
    background-color: #a76e6e42;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    transition: 0.5s;
}

.growth-content:hover {
    transform: scale(1.05);
    background: linear-gradient(256deg, #a76e6e42 100%, #41acbf 20%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 0 30px rgba(67, 242, 255, 0.6);
}